log/*
log/*.*
**/obj

Console2/bin/Debug/*.*
Console2/bin/Debug/*.*.*
Console2/bin/Release/*.*
_ReSharper/*.*
_ReSharper.t1/*
Backup/*
UpgradeLog.XML
*.*~
.*~
*.swp
*.swo
t1.suo
t1.v11.suo
*~
*\.user
_ReSharper\.trunk/*.*
_ReSharper\.trunk/**.*
_UpgradeReport_Files
t1.sln.docstates.suo
